@charset "UTF-8";

div.main_container > section
{
	justify-content: center;	
}

div.main_container > section > div > *
{
	display: inline-block;
	vertical-align: middle;
}

div.main_container > section > div > button
{
	height: 200px; width: 200px;
}

div.main_container > section > div > button > img
{
	height: 100%;
}
div.main_container > section > div > p
{
	position: relative;
	margin-left: 60px;
	font: 700 24px MainFont;
	color: var(--system_main_color);
	line-height: 1.1em; 
	white-space: pre;
	letter-spacing: 0.5px;
	z-index: 2;
}

div.main_container > section > div > p > span
{
	font: inherit;
	color: inherit;
	font-weight: 300;
	font-size: 17px;
}

div.main_container > section > div > p:before
{
	content: 'HOŞ \A GELDİN';
	
	position: absolute;
	left: -37px; top: -70px;
	
	font: 700 118px Montserrat;
	color: var(--system_white);
	line-height: 0.85em;
	letter-spacing: 5px;
	opacity: 0.7;
	z-index: -1;
}